<h1>New task</h1>

<%= render 'form' %>
<%#You can't add an edit here because you would have to have task.save in your create and/or update file.%>

<%= link_to 'Back', user_tasks_path(@user.displayname) %>