/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
	margin: 0px;
}
html {
	height: 100%;
	background-color: #f2f2f2;
}

body {
	min-height: 100%;
}
h1, h2, p, th, td, a, li {
	margin: 8px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.bold {
	font-weight: bold;
}

.banner {
	margin: 0px;
	width: 100%;
	top: 0;
	line-height: 35px;
	background-color: #377dae;
	padding: 0px;
	border: 1px solid #2d6798;
}

.banner-inner {
	margin-left: 12.5%;
	width: 75%;
}
.banner ul, .banner .banner-link {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	padding: 0px 5px 0px 5px;
	color: #182432;
}

.banner .banner-link a, .banner p a {
	background-color: #d8d8d8;
	margin: 0;
	padding: 4px;
	border-radius: 4px;
	color: #377dae;
	text-decoration: none;
	font-size: .8em;
}

.right-align {
	float: right;
}

.sodes-title {
	display: inline;
	font-size: .8em;
	font-weight: bold;
	background-color: #d8d8d8;
	border-radius: 8px;
	color: #377dae;
	padding: 5px 10px;
}

.banner-text {
	display: inline;
	font-size: .9em;
	color: #d8d8d8;
	padding: 5px 2px;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 0px;
	padding-top: 15px;
	color: #347ea7;
}
.content-title {
	width: 20%;
	padding-left: 20px;
}
h2 {
	background-color: #d8d8d8;
	border-radius: 3px;
	color: #357fae;
	width: auto;
	padding: 5px;
	display: inline-block;
	margin-bottom: -1em;
}

.content-shell {
	background-color: #f2f2f2;
}

.content-int {
	width: 75%;
	margin: auto;
}

.content-left {
	width: 60%;
	padding-right: 0px;
	float: left;
}

.content-right {
	width: 35%;
	float: right;
}

.item-list-container {
	background-color: #ffffff;
	padding: 2em;
}

.item-list-table {
	border-radius: 10px;
	margin: auto;
	border-spacing: 0;
	min-width: 100%;
}

.item-list-table tr.data-row th, .item-list-table tr.data-row td {
	border-top: .1em solid #347ea7;
	border-right: .1em solid #347ea7;
	border-bottom: .1em solid #347ea7;
	height: 2em;
}
.item-list-table tr.data-row th:first-child, .item-list-table tr.data-row td:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: .1em solid #347ea7;
}
.item-list-table tr.data-row th:last-child, .item-list-table tr.data-row td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.item-list-table tr.data-row:first-child th:last-child {
	border-top-right-radius: 10px;
}
.item-list-line-item {
	background-color: #f2f2f2;
	color: #3b84b7;
	margin: 1em;
}

.spacer-row, .spacer-row > td {
	border: none;
	background: none;
	height: 1em;
}
